<div class="centered-content">
    <div class="task-manager-container">
        <div class="sidebar has-background-white">
            <h1 class="title has-text-primary">
                Lists
            </h1>

            <div class="list-menu">
                <a *ngFor='let name of Lists' [routerLink]='["/lists" , name._id]' class="list-menu-item" routerLinkActive='is-active'>
                    <p>
                        {{name.title}}
                    </p>
                </a>

            </div>

            <button class="button is-primary has-text-white" routerLink='/newlist'>+ New List</button>
        </div>
        <div class="task-list-container  has-background-light">

            <div class="top-bar">
                <h1 class="title has-text-primary">
                    Tasks
                </h1>

                <div class="dropdown is-hoverable is-right">
                    <div class="dropdown-trigger">
                        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
                        <span class="icon is-small">
                          <i class="fas fa-cog" aria-hidden="true"></i>
                        </span>
                      </button>
                    </div>
                    <div class="dropdown-menu" id="dropdown-menu4" role="menu">
                        <div class="dropdown-content">
                            <a [routerLink]="['/editlist',SelectedListid]" class="dropdown-item">
                              Edit
                            </a>
                            <a (click)='DeleteList()' class="dropdown-item has-text-danger">
                              Delete
                            </a>

                        </div>
                    </div>

                </div>
            </div>

            <div style="overflow-y: scroll; overflow-x: auto;">
                <div *ngFor='let x of Tasks' class="task" [ngClass]="{'complete' : x.completed }" (click)='OnclickTask(x)'>
                    <div class='task-text'>
                        <p>{{x.title}}</p>
                    </div>
                    <div class="task-buttons">
                        <button class="button" [routerLink]="['/lists',SelectedListid,'edittask',x._id]">
                        <div class="icon">
                            <i class="fas fa-edit"></i>
                        </div>
                    </button>
                        <button class="button is-danger" (click)='DeleteTask(x._id)' style="margin-left: 10px;">
                        <div class="icon">
                            <i class="fas fa-trash"></i>
                        </div>
                    </button>
                    </div>
                </div>
            </div>

            <div class="circle-add-button" routerLink='newtask'>
                <div style="margin-top: -17px; color: white;"> &#43;</div>
            </div>
        </div>
    </div>
</div>